/*********general style***********/
html{scroll-behavior: smooth;}
*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; list-style: none; font-family: 'Arial', sans-serif;}
img{display: block; max-width: 100%;}
input, select, textarea{outline: none;}
/*********variables***********/
:root{
    --link:#7A7778;
    --primary:#901450;
    --second:#D58CAE;
    --p:#827D7D;
    --slider:#0C0B0B;
    
}

/*********Container***********/
.container{max-width: 1100px; margin: 0 auto; padding: 0px 25px; position: relative;}
.row{display: flex; width: 100%; max-width: 100%;}
.title{display: flex; flex-wrap: wrap; align-items: center; margin-top: 100px; margin-bottom: 60px; width: 100%;}
.title h2{margin-left: 10px; color: var(--primary); font-size: 1.2em;}
.subtitle{width: 100%; margin-left: 45px; color: var(--p); margin-top: -10px;}
.btn-up{color: var(--primary); position: fixed; font-size: 3em; bottom: 70px; right: 40px; display: none; transition: all .5s; cursor: pointer; z-index: 100000; animation-name: btnUp; animation-duration: .5s; animation-delay: 1s; animation-iteration-count: infinite; animation-direction: alternate;}
@keyframes btnUp{
    from{bottom: 70px;}
    to{bottom: 50px;}
}
.btn-mobile{width: 50px; height: 50px; padding: 7px; display: none; cursor: pointer; z-index: 3000000;}
.btn-mobile span{width: 100%; height: 5px; background: var(--primary); display: block; margin-bottom: 5px;  line-height: 50px;}

.top{overflow: hidden; position:relative;}
.img-leaf, .img-model{position: absolute;}
.img-leaf{top:50%; transform: translateY(-50%);}
.img-model{top:0; right: 0;}
.nav-bar{width: 100%; display: flex; justify-content: space-between; align-content: center; align-items: center; padding: 20px 0;}
.logo{max-width: 100px;}
.nav{position: relative;}
.nav ul{display: flex;}
.nav ul li a{padding: 14px; color: var(--link); font-size: 14px; font-weight: bold; font-family: 'arial', sans-serif; transition: .5s;}
.nav ul li a:hover{color: var(--second);}

.slider{height: 100%; display: flex; flex-direction: column; margin-top: 100px;}
.slider h6{color: var(--second);}
.slider h1{color: var(--slider); font-size: 55px; margin: 25px 0px; line-height: 50px;}
.slider p{color: var(--p); line-height: 30px; font-size: .9em;}
.slider .btns{display: flex; align-items: center; margin-top: 25px;}
.slider .btns a{background: var(--second); color: #fff; padding: 12px 20px; font-size: .8em; font-weight: 600;}
.slider .btns .btn-video{margin-left: 40px; display: flex; align-items: center; cursor: pointer;}
.slider .btns .btn-video:hover img{animation-name: icon; animation-duration: .5s;}
.slider .btns .btn-video p{margin-left: 10px;}

.social-networks{background: var(--second); margin-top: 100px;}
.social-networks .container{display: flex; color: #fff; justify-content: space-between; align-items: center; padding: 30px 25px;}
.social-networks .container .social-icons{ display: flex;}
.social-networks .container .social-icons .icon{padding: 10px; border:solid #fff 1px; border-radius: 50%; width: 35px; height: 35px; display: flex; align-items: center; align-content: center; justify-content: center; font-size: 1.2em; margin-right: 10px; cursor: pointer;}
.social-networks .container .text p{font-size: 1em; text-align: center; line-height: 1.7;}
.social-networks .container .social-icons .icon:hover{animation-name: icon; animation-duration: .5s;}

@keyframes icon{
    0%{transform: rotate(180deg)}
    100%{transform: rotate(0);}
}

.about .row{flex-direction: column;}
.about-img{width: 100%; height: 300px; background: url(../assets/imgabout.jpg) center center no-repeat; background-size: cover;}
.about .about-text{margin-top: 60px; color: var(--p);}
.about .about-text p{margin-bottom: 10px; text-align: left; line-height: 1.5; font-size: .9em;}
.about .about-text a{margin-top: 25px; color: var(--primary); font-weight: 600; display: block;}
.about .about-text a:hover{color: var(--second);}

.services-container{display: flex;}
.services .container a{display: block; color: var(--primary); font-weight: bold; margin-top: 20px;}
.services .container a:hover{color: var(--second);}
.services-container .item{width: 33.33%; padding: 6px; -webkit-box-shadow: 0px 1px 3px -1px rgba(87,86,86,0.80); -moz-box-shadow: 0px 1px 3px -1px rgba(87,86,86,0.80); box-shadow: 0px 1px 3px -1px rgba(87,86,86,0.80); margin-right: 30px; margin-bottom: 30px;}
.services-container .item:last-child{margin-right: 0;}
.services-container .item .img{position: relative; width: 100%;}
.services-container .item .img img{width: 100%;}
.services-container .item .img .whatsapp{position: absolute; bottom: -10px; right: 20px; background: var(--primary); color: #fff; width: 30px; height: 30px; border-radius: 100%; text-align: center; line-height: 30px; font-size: 1.1em;}
.services-container .item .info{margin-top: 10px;}
.services-container .item .info h2{color: var(--primary); font-size: 1em; font-weight: bolder; margin-bottom: 20px; text-transform: uppercase;}
.services-container .item .info p{color: var(--p); font-size: .9em}
.services-container .item  .price{margin-top: 20px;}
.services-container .item  .price p{color: var(--p); font-size: .7em}
.services-container .item  .price span{color: var(--primary); font-size: 1.2em; font-weight: bold; margin-left: 5px;}

.products .row{flex-direction: column;}
.products-img{width: 100%; height: 300px; background: url(../assets/produtos.jpg) center center no-repeat; background-size: cover;}
.swiper-container, .swiper-wrapper{width: 100%; margin-top: 60px; position: relative;}
.swiper-slide{width: 33.333%; margin: 0; padding: 0; object-fit: fill;}
.swiper-slide img{width: 100%; object-fit: fill;}
.arrows{display: flex; margin-top: 30px;}
.arrows .next, .arrows .prev{width: 30px; height: 30px; background: var(--primary); color:#fff; text-align: center; line-height: 30px; margin-right: 15px; outline: none; cursor: pointer;}
.arrows .next:hover, .arrows .prev:hover{background: var(--second);}

.blog .blog-container {flex-direction: row; display: flex;}
.blog .blog-container .item{width: 50%; webkit-box-shadow: 0px 1px 3px -1px rgba(87,86,86,0.80); -moz-box-shadow: 0px 1px 3px -1px rgba(87,86,86,0.80); box-shadow: 0px 1px 3px -1px rgba(87,86,86,0.80); margin-right: 30px;}
.blog .blog-container .item:last-child{margin-right: 0;}
.blog .blog-container .item .img img{width: 100%;}
.blog .blog-container .item .text{padding: 15px;}
.blog .blog-container .item .text h2{text-transform: uppercase; color: var(--primary); font-size: 1em; margin-bottom: 10px;}
.blog .blog-container .item .text p{color: var(--p); font-size: .9em; margin-bottom: 10px;}
.blog .blog-container .item .text a{color: var(--primary); font-size: .9em; font-weight: bold;}
.blog .blog-container .item .text a:hover{color: var(--second);}

.units .map{width: 100%;}
.units .map iframe{width: 100%; height: 450px;}
.testimony .video-container{margin: 0 auto;}
.testimony .video-container video{outline: none; max-width: 100%;}
.testimony .thumbnails{display: flex; margin-top: 60px;}
.testimony .thumbnails .thumbs{width: 33.33%; margin-right: 15px; cursor: pointer;}
.testimony .thumbnails .thumbs:last-child{margin-right: 0;}
.testimony .thumbnails .thumbs img{width: 100%;}

.contact-container{position: relative;}
.contact-container .contact-header{width: 100%; height: 300px; background:  url(../assets/bgcontato.jpg) center center no-repeat; background-size: cover;}
.contact-container .form-box{width: 70%; margin: 0 auto; padding: 60px; margin-top: -70px; background: #fff; webkit-box-shadow: 0px 1px 3px -1px rgba(87,86,86,0.80); -moz-box-shadow: 0px 1px 3px -1px rgba(87,86,86,0.80); box-shadow: 0px 1px 3px -1px rgba(87,86,86,0.80);}
.contact-container .form-box h2{color: var(--primary); font-weight: lighter; font-size: 2em; margin-bottom: 20px;}
.contact-container .form-box p{color: var(--p); font-size: .9em; margin-bottom: 10px; width: 80%;}
.contact-container .form-box form{margin-top: 60px;}
.form-group{width: 100%; display: flex;}
.form-group .col{width: 50%; margin-right: 30px; position: relative; margin-bottom: 50px;}
.form-group .col label{position: absolute; top:5px; left: 0; transition: .5s; color: var(--p)}
.form-group .col input{width: 100%; border: none; border-bottom: solid 1px var(--p); padding: 7px; 15px; color: var(--p);}
.form-group .col input:last-child{margin-right: 0; }
.form-group .col select{width: 100%; appearance: none; color: var(--p); border: none; border-bottom: solid 1px var(--p); padding: 7px; 15px; position: absolute;}
.form-group .col select label{position: absolute; top:5px; left: 0; transition: .5s; color: var(--p)}
.form-group .col input:focus ~ label, .form-group .col input:valid ~ label, .form-group .text textarea:focus ~ label{top:-50px; position: relative; color: var(--primary);}
.form-group .col select:focus ~ label, .form-group .col select:valid ~ label{top:-20px; position: relative; color: var(--primary);}
.form-group .text{width: 100%; height: 70px;}
.form-group .text label{}
.form-group .text textarea{width: 100%; height: 100%; resize: none; border: none; border-bottom: solid 1px var(--p);}
.form-group .text textarea:focus ~ label, .form-group .text textarea:valid ~ label{top:-100px; position: relative; color: var(--primary);}
.form-btn input{padding: 5px 20px; border:none; background: var(--primary); cursor: pointer; color:#fff; font-size: 1em; transition: .5s;}
.form-btn input:hover{background: var(--second);}

footer{margin-top: 100px; background: var(--primary);}
footer .container .row{ display: flex; justify-content: space-between; align-items: center; padding: 25px; color: #fff;}
footer .container .row .social-icons{display: flex;justify-content: space-between; font-size: 1.2em;}
footer .container .row .social-icons .icon{padding: 10px; border:solid #fff 1px; border-radius: 50%; width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; cursor: pointer; margin-left: 20px;}
footer .container .row .social-icons .icon:hover{animation-name: icon; animation-duration: .5s;}